@{
    ViewData["Title"] = "Bhuvana";
}

<div class="text-center">
    <h1 class="display-4">Hej, jag heter Bhuvana</h1>
    <img src="~/multitask_mom.jpg" />
    <p>
        I am Bhuvaneswari Manikandan from India, currently living in Sweden with my family.
        We all love to travel and explore new places. I love to cook and taste different types of food. 
        Learning CloudDevelopment with focus on Azure at JensenYrkehögskola. The course is interesting but sometimes feels very stressful.

    </p>
    <p>Look at my code on : <a href="https://github.com/bhuvana-mani">github</a>.</p>
</div>
