@{
    ViewData["Title"] = "Casper";
}

<div class="text-center">
    <h1 class="display-4">Hej jag heter Casper</h1>
    <p>Look at my code on : <a href="https://github.com/Ninetyninefive">github</a>.</p>
</div>
