@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the webpage of Grupp 4</h1>
    <ul>
        <li>Oskar</li>
        <li>Terry</li>
        <li>Bhuvana</li>
        <li>Casper</li>
    </ul>
    <p>The code for this project on <a href="https://github.com/Ninetyninefive/AzureCloudProjectG4">github</a>.</p>
</div>
