@{
    ViewData["Title"] = "Oskar";
}

<div class="text-center">
    <h1 class="display-4">Hej, jag heter Oskar</h1>
    <p>Look at my code on : <a href="https://github.com/oskarnyberg">github</a>.</p>
    <img src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/heroes/rubick_vert.jpg?v=6387434" />
</div>
