@{
    ViewData["Title"] = "Oskar";
}

<div class="text-center">
    <h1 class="display-4">Hej, jag heter Oskar</h1>
    <p>Look at my code on : <a href="https://github.com/oskarnyberg">github</a>.</p>
    <img src="https://static.wikia.nocookie.net/dota2_gamepedia/images/8/85/Cosmetic_icon_Councilor%27s_Complete_Raiment_Set.png/revision/latest?cb=20130702112040" />
</div>
