@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>There is no privacy - there is only <a href="https://tools.kali.org/information-gathering/theharvester">theHarvester</a></p>
