@{
    ViewData["Title"] = "Terry";
}

<div class="text-center">
    <h1 class="display-4">Hej, jag heter Terry</h1>
    <p>Look at my code on : <a href="https://github.com/TLindskog">github</a>.</p>
</div>
