@{
    ViewData["Title"] = "Terry";
}

<div class="text-center">
    <h1 class="display-4">Hej, jag heter Terry</h1>
    <img src="https://i.imgur.com/w6x0GZJ.jpg" title="source: imgur.com" />
    <p>Look at my code on : <a href="https://github.com/TLindskog">github</a>.</p>
</div>
